<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pagina Utente</title>
</head>
<body>
<h1 align="center">Pagina Utente</h1>
            <form align="center" method="post">
                <label for="db">Select data base:</label><br>
                <select name="db_name" id="db">
                    <option value="">--Please choose an option--</option>
                    {% for data in data %}
                        <option value="{{ data }}">{{data}}</option>
                    {% endfor %}
                </select><br>

                <label for="lname">Enter your query:</label><br>
                <input type="text" id="lname" name="user_query" width="200" height="200">
                <input type="submit" value="Submit" width="200" height="200"><br>

                <label for="promptarea">Your prompt:</label><br>
                <textarea rows="10" cols="100" name="prompt_area" id="promptarea">{{prompt_area}}</textarea>
            </form>
</body>
</html>